<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo of Sliding Doc Panel</title>
    {% include "include/rascal-head.html" %}
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>This is your new page.</h1>
            <p>You can add some text here, or use template variables: {{magic}}</p>
            
            <p>Nullam quis risus eget urna mollis ornare vel eu leo.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Nullam id dolor id nibh ultricies vehicula.</p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus,
                nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                Donec ullamcorper nulla non metus auctor fringilla.</p>

            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.
                Donec id elit non mi porta gravida at eget metus.
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                eget lacinia odio sem nec elit.</p>
        </div>
    </div>
    {% include "include/doc-tab.html" %}
</body>
</html>
