<!DOCTYPE html>
<html lang="en">
<head>
    <title>BlinkM Knob demo</title>
    {% include "include/rascal-head.html" %}
    <script src="/static/js/jquery.knob-1.2.0.js"></script>
    <script>
        $(function() {
            $(".knob").knob({
                change : function (value) {
                    //console.log("change : " + value);
                },
                release : function (value) {
                    // console.log("release : " + value);
                },
                cancel : function () {
                    // console.log("cancel : " + this.value);
                },
            });
        });
    </script>
    <style>
        .well.knobset {
            margin: 10px 0;
            color: #F8F8F8;
            background-color: #333;
            border-color: #444;
            width: 460px;
        }
     </style>
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>BlinkM Knob demo</h1>
            <p>You can use the Knob library to control a BlinkM via I2C.</p>
            <div class="well knobset">
                <input class="knob" data-width="150" data-height="150" data-fgColor="#DC322F" data-displayPrevious="true" value="42">
                <input class="knob" data-width="150" data-height="150" data-fgColor="#859900" data-displayPrevious="true" value="42">
                <input class="knob" data-width="150" data-height="150" data-fgColor="#268BD2" data-displayPrevious="true" value="42">
            </div>
        </div>
    </div>
    {% include "include/doc-tab.html" %} 
    <script type="text/javascript">
    // You could add some Javascript between these script tags, if you want.
    // jQuery and jqPlot are already included in the header above.
    </script>
</body>
</html>
